.container {
  padding-top: 5%;
}

.container > * {
  margin-bottom: 50px;
}

.pageContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.leftContainer {
  margin-bottom: 30px;
}

.title {
  font-weight: 900;
}

.appStore {
  margin-right: 20px;
}

.description {
  width: 400px;
}
