.container > * {
  padding: 20px;
}

@media (min-width: 1500px) {
  .container > * {
    padding: 30px 10%;
  }
}

.container > *:nth-child(even) {
  background-color: #edeeef;
}

.pageContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.leftContainer {
  margin-bottom: 30px;
}

.title {
  font-weight: 900;
}

.appStore {
  margin-right: 20px;
}

.description {
  width: 300px;
}

.rightImage {
  transform: rotate(10deg);
}

.leftImage {
  transform: rotate(-10deg);
}
