.container {
  display: flex;
}

.profile {
  min-width: 400px;
  margin: 20px;
}

.teacherList {
  margin: 20px 0;
}

.editButton {
  float: right;
}

.row {
  margin-bottom: 10px;
}

.label {
  color: #6c6ed7;
}

.studentList {
  margin: 20px 20px 20px 0;
}
