.container {
  text-align: center;
  margin: 20px 10%;
}

.alertContainer {
  display: flex;
  justify-content: center;
}

.login {
  margin-bottom: 50px;
  text-align: right;
}

.appStore {
  margin-right: 8px;
}
